* {
    box-sizing: border-box;
    margin: 0;
}

header {
    background-color: #004175;
    border-bottom: 3px solid #89DEEF;
    color: white;
    display: block;
    font-family: "Open Sans";
    font-size: 10px;
    font-weight: bold;
    padding: 17px;
}

body {
    font-family: "Open Sans";
    /* margin: 20px;   */
}

.adopt {
    padding: 17px;
    font-size: 10px;
}

.dogs {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row; 
    padding:17px;
}


.dog-name{
    font-family: "Oswald";
    margin-block-start: 0em;
}

#dog-box button {
    background-color: #89DEEF;
    border-radius: 25px;
    border-color: white;
    border-style: solid;
    font-family: "Open Sans";
}

img {
    max-width: 350px;
}
