.header {
    background-color: #004175;
    border-bottom: 5px solid #89DEEF;
    color: white;
    display: block;
    font-family: "Oswald";
    font-size: 40px;
    margin: 0;
    padding: 9px;
}

body {
    font-family: "Open Sans";
    margin:0  
}

.adopt {
    padding: 20px;
}

.trait {
    background-color: #89DEEF;
    display:inline-block;
} 
.dog-box p {
    background-color: #89DEEF;
    display:inline-block;
}
