.header {
    background-color: #004175;
    border-bottom: 3px solid #89DEEF;
    color: white;
    display: block;
    font-family: "Open Sans";
    font-size: 30px;
    font-weight: bold;
    padding: 10px;
}

body {
    font-family: "Open Sans";
    margin:0  
}

.adopt {
    padding: 10px;
}

.dogs {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    /* background-color: blue;
    border: 7px solid pink; */
}


.dog-name{
    font-family: "Oswald";
    margin-block-start: 0em;
}

.dog-box span {
    background-color: #89DEEF;
    border-radius: 30px;
    font-family: "Open Sans";
    font-size: small;
    width: min-content;
}

img {
    max-width: 350px;
}
